<!DOCTYPE html>
<html>
<head>
  <title>Moment Map</title>
  <link rel="stylesheet" href="public/application.css" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="content-container">
    <div class="header">
      <h1>Moment Map</h1>
      <span>| Built on chf-go. <a href="/">Back to map.</a></span>
    </div>
    <div id="about-main">
      <h3>About Moment Map</h3>
      <p>
        Moment Map is a rack application built on chf-go, a lightweight ruby
        web framework and ORM with PostgreSQL integration. The front end is
        built with React.js and moment data is managed using the Flux pattern.
        Static assets are bundled with Webpack and served using Rack::Static.
        See Moment Map <a href="https://github.com/chf2/moment_map">on
        Github</a>.
      </p>
      <h3>About chf-go</h3>
      <p>
        chf-go is a custom ruby web framework. It is primarily comprised of a
        base Model, a base Controller, and a Router. The base Controller manages
        construction of the HTTP response and supports rendering both HTML view
        templates and JSON data. The base Model contains the PostgreSQL ORM and
        supports chainable query filters, both as key-value pairs and as SQL
        strings. See more details on <a href="https://github.com/chf2/chf-go">
        chf-go's Github page.</a>
      </p>
    </div>
  </div>
</body>
</html>