<!DOCTYPE html>
<html>
<head>
  <title>Moment Map</title>
  <link rel="stylesheet" href="public/application.css" type="text/css" />
  <script src="public/bundle.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNv9A4I1vdXUM5RjC1ATw7h21SQEi6V-0">
  </script>
  <script>
    window.EMOTIONS = <%= Moment::EMOTIONS %>
  </script>
</head>
<body>
  <div id="main"></div>
</body>
</html>