ul {
  margin: 0;
  padding: 0;
}

#content-container {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

#map {
  height: 500px;
  width: 500px;
  margin-right: 50px;
  float: left;
}

#moment-index {
  height: 500px;
  width: 400px;
  border-left: 1px solid #E7E7E7;
  padding-left: 45px;
  float: left;
}

#moment-index > ul {
  margin-top: 10px;
}

.moment-index-item {
  border: 1px solid #E7E7E7;
  box-shadow: 2px 2px #CCCCCC;
  padding: 10px;
  margin-bottom: 5px;
}

.moment-index-item > p {
  margin: 3px 0;
}